@media only screen and (orientation: landscape) {
    .wrapper {
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 40% 60%;
    }
    .errors {
        grid-column: 1/3;
        margin: auto;
    }
    #map {
        height: 42em;
        grid-row: 1/3;
        grid-column: 2/3;
    }
    .start {
        width: 100%;
        font-size: 2.8em;
    }
    label:first-child {
        font-size: .9em;
    }

    .pet-stores-results {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .vets-results {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .info-window {
        max-width: 100%;
        height: 100%;
        padding: 2em;
    }
    .nested p {
        margin-right: .6em;
    }

    .loader {
        top: 0;
   
    }
    .small .loader {
        float: none;
        margin: auto;
        margin-bottom: .3em;
    }

    .big .start-wrapper {
        margin-top: .3em;
        
    }

    .start-wrapper,
    .img-wrapper {
        /* width: 50%; */
        float: left;
    }
    .start-wrapper {
        width: 60%;
    }
    .img-wrapper {
        width: 40%;
    }
    .zip-code {
        margin-bottom: .3em;
        width: 50%;
    }
    .start img {
            margin: 1.5em auto;
            max-width: 85%;
    }
    .big button {
        font-size: .75em;
        padding: .1em .6em;
    }
    .position-search-button {
        margin: auto;
    }
    legend {
        margin-bottom: .1em;
        padding: 0;
    }
    .small label,
    .small button,
    .small .zip-code {
        display: inline-block;
    }
    .small form {
        max-width: 100%;
        border: none;
        margin: 0 auto;
        box-shadow: none;
    }
    .small .start-wrapper {
        width: 100%;
        font-size: .9em;
        margin: auto;
        text-align: center;
    }
     .small button {
         padding: .15em .5em;
         margin-bottom: .3em;
     }

     .small label {
         margin: 0em;
         
     }

     .small .select-menu {
        margin: 0 auto;
     }

     .small .zip-code {
         margin: .6em;
         margin-right: 1.5em;
         width: 25%;
     }
     .big label {
         padding: 0;
     }


}

@media only screen and (min-device-width: 825px) {
    #map {
        height: 450px;
    }
    .small label,
    .small button,
    .small .zip-code {
        display: inline-block;
    }
    .biz-info {
        max-width: 50%;
    }
    .box {
        box-shadow: 5px 10px 8px #a3a8af;
        width: 60%;
    }
    .small .box {
        width: 100%;
        box-shadow: none;
    }
    .big h1 {
            width: 60%;
            margin: 2% 20% 0 20%;    
    }
    legend {
        padding: 0em;
    }
    .big form {
        max-width: 60%;
        margin: auto;
        border: 1px solid #00112b;
        box-shadow: 5px 10px 8px #a3a8af;
        
    }
    .start button {
        font-size: .8em;
    }
    .small button {
        padding: .15em .5em;
        margin-left: 3em;
    }
    .small form {
        box-shadow: none;
    }
    
    .small label {
        margin-top: 0.7em;
    }
    .small .zip-code {
        margin: .6em;
        margin-right: 1.5em;
        width: 12%;
    }
    
    .start-wrapper {
        margin: .5em auto 1em auto;
    }

    .small .start-wrapper {
           text-align: center;
           font-size: .7em;
    }
    .start img {
            margin-top: 3em;
            margin-bottom: 1.5em;
            max-width: 75%;
    }
    .big label {
        margin: auto;
        display: block;
    }

    .big .select-menu>label {
        display: inline-block;
    }
    .small .loader {
        float: right;
        margin: 1em 15em 1em auto;
    }
}